body {
  font-family: Arial;
  margin: 40;
  padding: 40;
  text-align: left;
}

img {
  border-radius: 10%;
}

h1,
h3 {
  color: #279cc0;
  padding: 6px;
}

h4 {
  color: darkcyan;
  padding: 6px;
}

p {
  line-height: 1.5;
}
